$color-primary: #0097b2;
$color-primary-hover: #85edff;
$color-secondary: #607a8c;
$color-success: #28a745;

$color-dark: #212529;
$color-light: #f8f9fa;
$color-white:#ffffff;

$text-color:#666666;
$border-color: #dddddd;

$font-main: "Segoe UI", sans-serif;

$container-width: 1200px;

$radius:12px;
$shadow:0 8px 20px rgba(0, 0, 0, 0.15);
$transition: all 0.3s ease;
